name: macOS

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  # Customize the CMake build type here (Release, Debug, RelWithDebInfo, etc.)
  BUILD_TYPE: Release

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-11]
        build_type: [Debug, Release]

    steps:
    - uses: actions/checkout@v2

    - name: Install ninja
      run: brew install ninja

    - name: Build CURL
      working-directory: ${{github.workspace}}/ext
      run: git clone https://github.com/curl/curl; 
           cd curl; 
           mkdir build;
           cd build;
           cmake -DCMAKE_OSX_ARCHITECTURES="x86_64;arm64" -DCMAKE_USE_OPENSSL=OFF -DCMAKE_USE_LIBSSH2=OFF -GNinja ..;
           ninja;

    - name: Build Qt6
      working-directory: ${{github.workspace}}/ext
      run: git clone https://github.com/qt/qt5;
           cd qt5;
           git checkout 6.2.0;
           ./init-repository --module-subset=qtbase,qttools;
           ./configure -- -DCMAKE_OSX_ARCHITECTURES="x86_64;arm64";
           cmake --build . --parallel;
           sudo cmake --install .;
           
    - name: Build Chollian Wallpaper
      run: mkdir build;
           cd build;
           cmake -DCURL_LIBRARY=${{github.workspace}}/ext/curl/build/lib/libcurl.dylib -DCURL_INCLUDE_DIR=${{github.workspace}}/ext/curl/include -DCMAKE_OSX_ARCHITECTURES="x86_64;arm64" -DCMAKE_PREFIX_PATH=${{github.workspace}}/ext/qt5/qtbase/lib/cmake -GNinja ..;
           ninja;           
        
    - name: Generate macOS bundle
      working-directory: ${{github.workspace}}/scripts
      run: python3 bundle_macos.py --qt_dir=${{github.workspace}}/ext/qt5 --build_dir=${{github.workspace}}/build

    - name: Archive .app into tgz file
      working-directory: ${{github.workspace}}/build
      run: tar -czf Chollian\ Wallpaper.app.tgz Chollian\ Wallpaper.app
  
    - name: Upload a archived bundle
      uses: actions/upload-artifact@v2.2.4
      with:
        # Artifact name
        name: generated_bundle_${{matrix.build_type}}_${{matrix.os}}
        # A file, directory or wildcard pattern that describes what to upload
        path: ${{github.workspace}}/build/*.tgz
