name: macOS

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  # Customize the CMake build type here (Release, Debug, RelWithDebInfo, etc.)
  BUILD_TYPE: Release

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-11]
        build_type: [Release]

    steps:
    - uses: actions/checkout@v2

    - name: Install ninja & create-dmg
      run: brew install ninja create-dmg

    - name: Build CURL
      working-directory: ${{github.workspace}}/ext
      run: git clone https://github.com/curl/curl; 
           cd curl; 
           git checkout curl-7_80_0;
           mkdir build;
           cd build;
           cmake -DCMAKE_OSX_ARCHITECTURES="x86_64;arm64" -DCMAKE_USE_OPENSSL=OFF -DCMAKE_USE_LIBSSH2=OFF -GNinja ..;
           ninja;

    - name: Build Qt6
      working-directory: ${{github.workspace}}/ext
      run: git clone https://github.com/qt/qt5;
           cd qt5;
           git checkout 6.2.2;
           ./init-repository --module-subset=qtbase,qttools;
           ./configure -make libs -no-debug-and-release -no-dbus -no-icu -no-feature-assistant -no-feature-pixeltool -no-feature-designer -no-feature-cups -no-feature-itemmodeltester -no-feature-qtattributionsscanner -no-feature-qtplugininfo -no-feature-linguist -no-feature-qmake -- -DCMAKE_OSX_ARCHITECTURES="x86_64;arm64";
           cmake --build . --parallel;
           sudo cmake --install .;
           
    - name: Build Chollian Wallpaper
      run: mkdir build;
           cd build;
           cmake -DCURL_LIBRARY=${{github.workspace}}/ext/curl/build/lib/libcurl.dylib -DCURL_INCLUDE_DIR=${{github.workspace}}/ext/curl/include -DCMAKE_OSX_ARCHITECTURES="x86_64;arm64" -DCMAKE_PREFIX_PATH=/usr/local/Qt-6.2.2/lib/cmake -GNinja ..;
           ninja;           

    - name: Upload a archived bundle
      uses: actions/upload-artifact@v2.2.4
      with:
        # Artifact name
        name: macos_dmg_${{matrix.build_type}}
        # A file, directory or wildcard pattern that describes what to upload
        path: ${{github.workspace}}/build/*.dmg
